<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>First & Follow</title>

	<!--Style-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5/dist/united/bootstrap.min.css">

</head>
<body>
	<section class="container">
		<br>
		<h1>First & Follow table</h1>

		<div class="row">

			<!--Grammar-->
			<div class="col">
				<h2>Augmented Grammar</h2>
				<br>

				{% for rule in grammar.rules %}
				<p> {{rule.left}} -> {{ ' '.join(rule.right) }} </p>
				{% endfor %}
			</div>

			<!--Table-->
			<div class="col">
				<h2>Table</h2>

				<table class="table table-striped">
					<thead>
					  <tr>
						<th scope="col">#</th>
						<th scope="col">First</th>
						<th scope="col">Follow</th>
					  </tr>
					</thead>
					<tbody>
					  {% for nt in grammar.non_terminals %}
		
					  <tr>
						<th scope="row"> {{nt}} </th>
						<td> {{grammar.first[nt]}} </td>
						<td> {{grammar.follows[nt]}} </td>
					  </tr>
					  
					  {% endfor %}
					</tbody>
				  </table>
				  
			</div>

		</div>

		

		

	</section>
</body>
</html>